{% extends 'base.html' %}
{% from 'shared/panel_downloads.html' import panel_downloads as panel_downloads %}

{% block content %}

<!-- Politicas Detalle -->
<section class="policies policy-breakdown" role="region" data-field="{{ show_side }}" data-tab="{{ starting_tab }}">

  <!-- Politicas Header -->
  <div class="policies-header section-header">

    <div class="container">
      {% if show_breadcrumbs %}
      {% include 'shared/breadcrumbs.html' %}
      {% else %}
      <p class="history-back">
        {% if back_button %}
          <a href="{{ back_button['url'] }}">&larr; {{ back_button['description'] }}</a>
        {% else %}
          {# Default behaviour: back to main page. Try to go back to the tab we came from. #}
          <a href="{{ url('budget_app.views.entities_policies', entity.code) if is_secondary_entity else url('budget_app.views.policies') }}#view={{ back_to_tab }}">&larr; {{ _('Volver a Políticas') }}</a>
        {% endif %}
      </p>
      {% endif %}
      <h2 class="page-title">{{ entity.name+': ' if is_secondary_entity }}{{ name }}</h2>
    </div>

    <ul id="tabs" class="nav nav-tabs nav-tabs-centered" role="tablist">
    {% for tab in ['functional', 'economic', 'funding', 'institutional'] %}
      {% if breakdowns[tab] %}
      <li role="presentation">
        <a href="#{{ tab }}" role="tab">{{ _(tab_titles[tab]) }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <!-- Policies Content -->
  <div class="policies-content">
    <div class="container tab-content">

      <h3 id="tab-title"></h3>

      <!-- Totals Panel -->
      {% include 'entities/totals.html' %}

      {% include 'policies/dummy_programme_overview.html' %}
    </div>

    {% include 'shared/social_sharing.html' %}
  </div>
</section>

{% include 'shared/modal_embed.html' %}

{% include 'shared/data_sources.html' %}
{% include 'shared/policy_paths.html' %}
{% include 'shared/budget_status_labels.html' %}
{% include 'policies/show_script.html' %}

{% endblock %}