// Custom styles
#investments-viz {
  * {
    font-family: 'Lato', sans-serif;
  }

  // Filter common settings
  .investments-viz-filter h3 {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
  }

  .investments-viz-filter div,
  .investments-viz-filter ul {
    font-size: 14px;
    padding: 0;
  }

  .investments-viz-filter ul {
    list-style-type: none;
  }

  // Map
  .map-wrapper {
    position: relative;
  }

  #investments-viz-map {
    height: 670px;
  }

  .map-overlay-inner {
    position: absolute;
    width: 320px;
    top: 20px;
    right: 10%;
    padding: 10px;
    pointer-events: none;
  }

  // Filter with denomination values
  #investments-viz-legend-title {
    text-align: center;
    color: #212529;
  }

  #investments-viz-legend-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    padding: 0;
  }

  #investments-viz-legend-filter li {
    font-weight: bold;
  }

  #investments-viz-legend-filter li.inactive {
    font-weight: 300;
  }

  #investments-viz-legend-filter.active li.inactive span {
    background-color: white !important;
  }

  #investments-viz-legend-filter {
    overflow: auto;
  }

  #investments-viz-legend-filter li {
    cursor: pointer;
    float: left;
    margin: 0 8px 6px 0;
  }

  #investments-viz-legend-filter li span {
    pointer-events: none;
    border-style: solid;
    border-width: 2.5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 0.5em 0 0;
    display: inline-block;
  }

  // Filter of input text
  .investments-viz-filter-searcher {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  .investments-viz-filter-searcher input[type='text'] {
    border: 0;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
    padding: 7px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 210px;
    font-size: 15px;
  }

  // Filter with state values 
  #investments-viz-filter-state-wrapper {
    position: absolute;
    top: 60px;
    left: 10px;
  }

  #investments-viz-filter-state li {
    float: left;
    position: relative;
    cursor: pointer;
    margin-right: 3px;
    user-select: none;
  }

  #investments-viz-filter-state li a {
    pointer-events: none;
    color: white;
    text-decoration: none;
    background: #003DF6;
    display: block;
    float: left;
    padding: 3px;
  }

  #investments-viz-filter-state:has(.active) li:not(.active) a {
    background: #cce3f9;
    color: #979797;
    opacity: .5;
  }

  #investments-viz-filter-state li.active a {
    background: #003DF6;
    color: white;
  }

  // Tooltip
  #tooltip {
    display: none;
    border: 1px solid #003DF6;
    background-color: white;
    padding: 20px;
    font-family: 'Lato', Verdana, sans-serif;
    z-index: 2;
    cursor: default;
    width: 400px;
    max-width: 100%;
  }

  #tooltip-wrapper {
    position: relative;
  }

  #tooltip-close-button {
    position: absolute;
    top: -16px;
    right: -12px;
    color: #003DF6;
    font-weight: bold;
    pointer-events: auto;
    cursor: pointer;
  }

  #tooltip.hover,
  #tooltip.click {
    display: block;
  }

  #tooltip,
  #tooltip h3 {
    font-size: 14px;
  }

  #tooltip h3 {
    font-weight: bold;
    margin-top: 0px;
  }

  #tooltip table {
    width: 100%;
  }

  #tooltip table td:nth-child(2) {
    font-weight: bold;
  }

  .tooltip-award td:nth-child(2) {
    width: 35%;
  }

  #tooltip tr {
    border: 0px;
  }

  .tooltip-section {
    margin: 10px 0;
  }

  .tooltip-location div:nth-child(2),
  .tooltip-denomination {
    font-weight: bold;
  }

  .tooltip-denomination-marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }

  .tooltip-times {
    border-top: 1px solid #E7F2FC;
    border-bottom: 1px solid #E7F2FC;
  }

  .tooltip-img-wrapper {
    position: relative;
    min-height: 50px;
    background: #eeeeee
  }

  .tooltip-img-aux-text {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    top: 25px
  }

  #tooltip img {
    width: 100%;
    position: relative;
    top: -19px;
    left: 0;
    margin-bottom: -19px
  }

  // Mapbox credits
  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-bottom-right {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .map-overlay-inner {
      right: 0;
    }
  }
}