<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
  {% include 'shared/meta.html' %}

  <title>{{ meta_title | safe }}</title>

  <link href="{{ static('assets/favicon.png') }}" rel="icon" type="image/x-icon" />

  {% include 'shared/fonts.html' %}

  {% compress css %}
  <link rel="stylesheet" href="{{ static('stylesheets/main.css') }}" media="all" type="text/css" />
  {% endcompress %}

  {% compress js %}
  <script src="{{ static('javascripts/jquery-2.2.4.js') }}"></script>
  <script src="{{ static('javascripts/jquery-migrate-1.4.1.js') }}"></script>
  <script src="{{ static('javascripts/modernizr-2.6.3.min.js') }}"></script>
  {% endcompress %}
</head>
<body class="{{ page_css_class }}">
  {% include 'shared/pre_header.html' %}

  {% include 'admin/header.html' %}

  <div class="content" role="main">
    {% block content %}{% endblock %}
  </div>

  {% include 'shared/footer.html' %}

  {% compress js %}
  <!-- Jquery plugins -->
  <script src="{{ static('javascripts/jquery.ba-bbq.js') }}"></script>
  <script src="{{ static('javascripts/jquery.cookie.min.js') }}"></script>
  <script src="{{ static('javascripts/jquery.cookiebar.js') }}"></script>
  <script src="{{ static('javascripts/jquery.event.drag-2.0.min.js') }}"></script>
  <!-- Other dependencies -->
  <script src="{{ static('javascripts/underscore-1-5-2.min.js') }}"></script>
  <script src="{{ static('javascripts/datatables.min.js') }}"></script>
  <script src="{{ static('javascripts/select2.min.js') }}"></script>
  <!-- Bootstrap plugins -->
  <script src="{{ static('javascripts/bootstrap/collapse.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/dropdown.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/modal.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/tooltip.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/popover.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap/transition.js') }}"></script>
  <script src="{{ static('javascripts/bootstrap-slider.js') }}"></script>
  <!-- Custom modules -->
  <script src="{{ static('javascripts/script.js') }}"></script>
  <script src="{{ static('javascripts/theme.js') }}"></script>
  <script src="{{ static('javascripts/admin.js') }}"></script>
  {% block extra_javascript %}{% endblock %}
  {% endcompress %}

  <!-- Uncompressable external dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/handsontable@6.2.2/dist/handsontable.full.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/papaparse@4.6.2/papaparse.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-base64@2.5.0/base64.min.js"></script>

  {% if debug %}
  <script src="{{ static('javascripts/count-css-rules.js') }}"></script>
  {% endif %}

  {% include 'shared/cookiebar.html' %}

  {% include 'shared/analytics.html' %}
</body>
</html>
