<li class="page-budgets {{ 'active' if active_tab == 'general'}} ">
  <a href="{{ url('budgets') }}" class="icon-budget">{{ _('Visión global') }}</a>
</li>

<li class="page-policies {{ 'active' if active_tab == 'policies'}} ">
  <a href="{{ url('policies') }}" class="icon-policy">{{ _('Políticas') }}</a>
</li>

{% if show_monitoring %}
<li class="page-glossary">
  <a class="icon-glossary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Inversiones') }}<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="{{ url('investments') }}" class="icon-investments">{{ _('Inversiones por distritos') }}</a></li>
    <li><a href="{{ url('main_investments') }}" class="icon-investments">{{ _('Inversiones principales') }}</a></li>
  </ul>
</li>

<li class="page-monitoring {{ 'active' if active_tab == 'monitoring' }}">
  <a href="{{ url('monitoring') }}" class="icon-monitoring">{{ _('Objetivos') }}</a>
</li>
{% else %}
<li class="page-investments {{ 'active' if active_tab == 'investments'}} ">
  <a href="{{ url('investments') }}" class="icon-investments">{{ _('Inversiones por distritos') }}</a>
</li>

<li class="page-investments {{ 'active' if active_tab == 'main_investments'}} ">
  <a href="{{ url('main_investments') }}" class="icon-investments">{{ _('Inversiones principales') }}</a>
</li>
{% endif %}

{% if show_payments %}
<li class="page-payments {{ 'active' if active_tab == 'payments'}} ">
  <a href="{{ url('payments') }}" class="icon-payments">{{ _('Pagos e inversiones') }}</a>
</li>
{% endif %}

<li class="page-glossary">
  <a class="icon-glossary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Te lo explicamos') }}<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="{{ url('guidedvisit') }}">{{ _('Visita guiada') }}</a></li>
    <li><a href="{{ url('glossary') }}">{{ _('¿Qué significa...?') }}</a></li>
  </ul>
</li>
