<div class="row">
  <br/>
  <div class="col-md-2 hidden-xs hidden-sm">
  </div>
  <div class="col-md-8">
    <p class="lead" style="text-align: center">{{ _('En esta pestaña se representan las inversiones más significativas del Ayuntamiento de Madrid, Organismos Autónomos y Empresas Municipales que se pueden territorializar en los Distritos*. Filtra y explora el siguiente mapa interactivo para ver la información en detalle de cada una de ellas.') }}</p>
    <p style="text-align: center; font-weight: 300;">{{ _('* En el Ayuntamiento y Organismos Autónomos se llevan a cabo otros proyectos muy relevantes que no muestran en este apartado porque no se pueden territorializar. Estos proyectos se pueden consultar en el apartado Inversiones por Distritos (No distritalizable y varios distritos). En cuanto a las Empresas Municipales, también ejecutan proyectos de gran importancia que no son territorializables (ej.: adquisición autobuses eléctricos), que pueden consultarse en las web de las Empresas Municipales.') }}</p>
    <br/>
  </div>
  <div class="col-md-2 hidden-xs hidden-sm">
  </div>
</div>
