<div id="investments-viz">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="investments-viz-legend" class="investments-viz-legend-wrapper investments-viz-filter"></div>
      </div>
    </div>
  </div>
  <div id="investments-viz-map"></div>
</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mapbox-gl@2.6.1/dist/mapbox-gl.css">
<script src="https://cdn.jsdelivr.net/npm/mapbox-gl@2.6.1/dist/mapbox-gl.js"></script>
<script src="{{ static('javascripts/main_investments/cartography.js') }}"></script>
<script src="{{ static('javascripts/main_investments/investments-map.js') }}"></script>

<script type="text/javascript">
  $(function () {
    var data = [
    {% for main_investment in all_main_investments %}
      {
        "project_id": '{{ main_investment.project_id }}',
        "year": '{{ main_investment.budget.year }}',
        "description": '{{ main_investment.description }}',
        "start_year": '{{ main_investment.start_year }}',
        "expected_end_year": '{{ main_investment.expected_end_year }}',
        "actual_end_year": '{{ "" if main_investment.actual_end_year==None else main_investment.actual_end_year }}',
        "area_name": '{{ main_investment.area_name }}',
        "address": '{{ main_investment.address }}',
        "latitude": '{{ main_investment.latitude }}',
        "longitude": '{{ main_investment.longitude }}',
        "functional_category": '{{ main_investment.functional_category.description }}',
        "already_spent_amount": '{{ main_investment.already_spent_amount/100 }}',
        "current_year_expected_amount": '{{ main_investment.current_year_expected_amount/100 }}',
        "total_expected_amount": '{{ main_investment.total_expected_amount/100 }}',
        "status": '{{ main_investment.status }}',
        "image_URL": '{{ main_investment.image_URL }}',
      },
    {% endfor %}
    ];

    const investmentsMap =
      new InvestmentsMap(
        "investments-viz-map",
        "investments-viz-legend",
        data,
        "pk.eyJ1IjoiY2l2aW8iLCJhIjoiY2t6d3Z2MmluMDBrZTJ3cHZpMHh3NXVpYSJ9.DyjAQjftonNZuiccfL_55w");
    investmentsMap.setup();

    function onYearChange(e, year) {
      investmentsMap.selectYear(year);

      // We can get the currently displayed investments
      // console.log(investmentsMap.visibleInvestments());

      // TODO: Create a breakdown based on the visible investments
      var myData = {
        "years": {
          "2020": 2020,
          "2021": 2021,
          "2022": 2022,
          "2023": 2023,
          "2024": 2024,
          "actual_2020": 2020,
          "actual_2021": 2021,
          "actual_2022": 2022,
          "actual_2023": 2023,
          "actual_2024": 2024
        },
        "sub": {
          "Carabanchel": {
            "expense": {
              "2020": 2020,
              "2021": 2020,
              "2022": 2020,
              "2023": 2020,
              "2024": 2020,
              "2025": 2020,
              "actual_2020": 2020,
              "actual_2021": 2020,
              "actual_2022": 2020,
              "actual_2023": 2020,
              "actual_2024": 2020,
              "actual_2025": 2020,
            },
            "sub": {
              "ANTIGUO MERCADO DE LEGAZPI. SUBSANACIÓN DE PATOLOGÍAS": {
                "expense": {
                  "2020": 100,
                  "2021": 100,
                  "2022": 100,
                  "2023": 100,
                  "2024": 100,
                  "2025": 100,
                  "actual_100": 100,
                  "actual_2021": 100,
                  "actual_2022": 100,
                  "actual_2023": 100,
                  "actual_2024": 100,
                  "actual_2025": 100,
                },
              },
              "Obra 2": {
                "expense": {
                  "2020": 23,
                  "2021": 23,
                  "2022": 23,
                  "2023": 23,
                  "2024": 23,
                  "2025": 23,
                  "actual_2020": 2342,
                  "actual_2021": 2342,
                  "actual_2022": 2342,
                  "actual_2023": 2342,
                  "actual_2024": 2342,
                  "actual_2025": 2342,
                },
              }
            }
          }
        }
      };

      // TODO: Here we'd replace the original breakdowns. Need to move them to `window` in the core.
      //window.breakdowns['area'] = myData;
    }
    $('#investments-viz').bind('year-change', onYearChange);
  });
</script>
